<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../SonosDiscovery</directory>
            <directory suffix=".php">../SonosPlayer</directory>
            <directory suffix=".php">../SonosSpliter</directory>
        </whitelist>
    </filter>
</phpunit>